@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
}

body {
  @apply h-full;
}

:root {
  --progressive-image-blur: 0;
  --progressive-image-main-fade-speed: 0;
  --progressive-image-placeholder-fade-speed: 0;
}
